*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
nav{
    background-color: #636C79;
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__right{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.nav__right ul{
    display: flex;
    font-size: 17px;
    color: white;
    font-weight: 300;
    gap: 50px;
    white-space: nowrap;
    align-items: center;
    list-style: none;
}
.nav__right button{
    margin-left: 50px;
    background-color: #636C79;
    border: 1px solid grey;
    color: white;
    font-size: 16px;
    padding: 10px 40px;
}
.section1{
    background-color: #636C79;
    display: flex;
    justify-content: space-between;
    padding: 30px 300px 100px 300px;
}
.section1__right{
    margin-top: 40px;
}
.section1 img{
    object-fit: cover;
}
.section1__right h1{
    font-size: 70px;
    font-weight: 500;
    color: white;
}
.section1__right h3{
    color: white;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    margin: 20px 0;
    letter-spacing: 1.5px;
}
.section1__input button{
    background-color: #8BB7A2;
    border: none;
    font-size: 17px;
    padding: 20px 45px;
    font-weight: 500;
    color: white;
}
.section1__input{
    background-color: white;
    width: fit-content;
    padding: 8px;
    display: flex;
    align-items: center;
}
.section1__input input{
    padding: 20px 70px 20px 10px;
    text-align: left;
    outline: none;
    border: none;
    font-size: 17px;
}
.fa-envelope{
    padding: 10px;
    font-size: 18px;
}

/* Section1 & Nav End */


/* Section2 */
.section2{
    padding: 120px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.section2 img{
    object-fit: cover;
}
.section2 h1{
    font-size: 42px;
    font-weight: 600;
}
.section2__stats{
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 80px;
    /* gap: 200px; */
    flex-direction: row;
    justify-content: space-between;
}
.stat h1{
    font-weight: 600;
}
.stat h4{
    color: gray;
    font-weight: 400;
    font-size: 18px;
}
/* Section2 End */

/* Header */
.header{
    text-align: center;
    font-size: 25px;
}
/* Header End */


/* Section 3 */
.section3{
    padding: 0 200px;
}
.section3 img{
    object-fit: cover;
}
.section3 h1{
    font-size: 40px;
}
.section3 h3{
    font-weight: 200;
    margin: 50px 0;
    font-size: 21px;
    letter-spacing: 1px;
}
/* box1 */
.section3__box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    margin-bottom: 100px;
}
.section3__right button{
    background-color: #8BB7A2;
    border: none;
    font-size: 17px;
    padding: 20px 45px;
    font-weight: 500;
    color: white;
}
/* box2 */
.section3__box2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.section3__left button{
    background-color: #8BB7A2;
    border: none;
    font-size: 17px;
    padding: 20px 45px;
    font-weight: 500;
    color: white;
}
/* box3 */
.section3__box3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
}
/* Section 3 End*/

/* Section4  */
.section4{
    padding: 0 200px;
}
.section4__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 80px 0;
}
.section4__head h1{
    font-size: 42px;
}
.section4__head h3{
    font-size: 20px;
    line-height: 35px;
    font-weight: 300;
}
.team{
    display: flex;
    justify-content: space-between;
}
.box h3{
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom:25px;
}
.box div{
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.section4__btn{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.section4 button{
    text-align: center;
    background-color: #8BB7A2;
    border: none;
    font-size: 17px;
    padding: 18px 55px;
    font-weight: 500;
    color: white;
}
/* Section4 End */

/* Footer */
footer{
    padding: 0 200px;
    list-style-type: none;
    background-color: #10181D;
    color: white;
}
.footer__line{
    height: 1px;
    background-color: grey;
}
.footer__top{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
}
.footer__bottom ul li:first-child{
    font-weight: 600;
    font-size: 18px;
    color: white;
}
.footer__bottom ul li{
    font-weight: 100;
    font-size: 15px;
    list-style-type: none;
    color: gray;
}
.footer__bottom ul{
    margin-top: 70px;
    line-height: 40px;
    margin-bottom: 100px;
}
/* Footer End */


@media only screen and (max-width:1630px){
    .section1{
        flex-direction: column;
        align-items: center;
    }
    .nav__right ul li:not(.nav__right ul button){
        display: none;
    }
    .section2 img{
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width:1480px){
    .section3__box1,.section3__box3{
        flex-direction: column-reverse;
        align-items:flex-start;
        margin-top: 100px;
        row-gap: 50px;
    }
    .section3__box1 img,.section3__box3 img{
        width: 100%;
        height: auto;
    }
    .section3__box2 img{
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
    .section3__left{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .section3__right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .section3__box2{
        flex-direction: column;
        align-items:flex-start;
        margin-top: 100px;
        row-gap: 50px;
    }
    .team{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }.section4__head{
        flex-direction: column;
        row-gap: 20px;
    }
}